.content-container-left {
  height: 100%;
  width:3%;
  vertical-align:top;
  display :inline-block;
}

.content-container {
  width :70%;
  height :auto;
  display :inline-block;

}

.content-container-right {
  height: 100%;
  width: 24%;
  position: fixed;
  top: 60px;
  right: 20px;
  bottom: 10px;
  margin: 10px;
}

.list-item{
  padding: 12px;
  opacity: 1;
  transition: box-shadow 0.5s;
  -webkit-transition :box-shadow 0.5s;
  margin: 10px;
  background-color: white;
  border-radius: 2px;
}

.list-item-no-detail{
  padding: 10px 60px 60px 60px;
  opacity: 1;
  margin: 10px;
  background-color: white;
  border-radius: 2px;
}

.list-item:hover {
  box-shadow: 1px 1px 1px green, -1px -1px 1px green, 1px -1px 1px green, -1px 1px 1px green;
}

.list-item-tag{
  display: inline-block;
  margin-right: 10px;
}

.list-item-tag-container{
  display: inline-block;
  margin-right: 50px;
  border: 2px solid  green;
  padding: 0px 0px 0px 5px;
  border-width: 0px 0px 0px 5px;
  color: grey;
}

.list-item-time-container{
  display: inline-block;
  color: grey;
}

.content-container-header{
  
}

.list-item-a {
  background-color: green;
  width: 90px;
  height: 24px;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  border: rgb(20, 66, 20);
  border-width: 1px;
  border-radius: 2px;
}

.list-item-a:visited {
  color: white;
}

.list-item-a:link {
  color: white;
}

.announcement-visitor_number{
  border: 2px solid  green;
  padding: 0px 0px 0px 5px;
  border-width: 0px 0px 0px 5px;
}


.announcement-div {
  transition: box-shadow 0.5s;
  -webkit-transition :box-shadow 0.5s;
  border-radius: 2px;
}

.announcement-div:hover {
  border-radius: 2px;
  box-shadow: 1px 1px 1px green, -1px -1px 1px green, 1px -1px 1px green, -1px 1px 1px green;
}

