
.content-container {
  width: 70%;
  height: auto;
  display: inline-block;
}

.content-container-right {
  height: 100%;
  width: 24%;
  margin: 10px;
  display: inline-block;
  position: absolute;
}

.home-contanier{
  width: 90%;
  height: auto;
  max-width: 1800px;
  margin: 0 auto;
}

.announcement-div {
  background-color: rgb(240, 168, 168);
}

.list-item {
  padding: 12px;
  opacity: 1;
  transition: box-shadow 0.5s;
  -webkit-transition: box-shadow 0.5s;
  margin: 10px;
  background-color: white;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
}

.list-item-no-detail {
  padding: 10px 60px 60px 60px;
  opacity: 1;
  margin: 10px;
  background-color: white;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
}

.list-item:hover {
  box-shadow: 1px 1px 1px rgb(78, 190, 78), -1px -1px 1px rgb(78, 190, 78),
    1px -1px 1px rgb(78, 190, 78), -1px 1px 1px rgb(78, 190, 78);
}

.list-item-title {
  font-weight: 500;
  font-family: Arial, Verdana, Sans-serif;
}

.list-item-tag {
  display: inline-block;
  margin-right: 10px;
  color: grey;
}

.list-item-tag-container {
  display: inline-block;
  margin-right: 50px;
  padding: 0px 0px 0px 5px;
  border-width: 0px 0px 0px 5px;
  font-size: 12px;
}

.list-item-tag-title {
  color: grey;
  display: inline-block;
  margin-right: 10px;
}

.list-item-time-container {
  display: inline-block;
  margin-right: 50px;
  color: grey;
  font-size: 12px;
}

.list-item-time-title {
  color: grey;
  display: inline-block;
  margin-right: 10px;
}

.list-item-time {
  display: inline-block;
  margin-right: 10px;
  color: grey;
}

.list-item-view-num-container {
  display: inline-block;
  color: grey;
  font-size: 12px;
  .list-item-view-num-title {
    color: grey;
    display: inline-block;
    margin-right: 10px;
  }
  .list-item-view-num {
    display: inline-block;
    margin-right: 10px;
    color: grey;
  }
}

.list-item-a {
  background-color: rgb(78, 190, 78);
  width: 90px;
  height: 24px;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  border: rgb(20, 66, 20);
  border-width: 1px;
  border-radius: 2px;
}

.list-item-a:visited {
  color: white;
}

.list-item-a:link {
  color: white;
}

.announcement-visitor-number {
  border: 2px solid green;
  padding: 0px 0px 0px 5px;
  border-width: 0px 0px 0px 5px;
  font-size: 14px;
}

.all-tags-div {
  margin: 0px 0px;
  height: 100px;
  overflow: hidden;
  .all-tags-title-div {
    border: 2px solid green;
    padding: 0px 0px 0px 5px;
    border-width: 0px 0px 0px 5px;
    font-size: 14px;
    margin: 10px 0px;
  }
  a {
    display: inline-block;
    background: white;
    padding: 0px 15px;
    margin: 1px 3px;
    font-size: 12px;
    line-height: 21px;
    text-align: left;
    border-width: 1px;
    border-radius: 15px;
    border-style: solid;
    border-color: grey;
    color: grey;
    &:visited {
      color: grey;
    }
    &:link {
      color: grey;
    }
    &:hover {
      color: white;
      background: rgb(78, 190, 78);
      border-color: rgb(78, 190, 78);
    }
  }
  .all-tags-reset {
    background-color: rgb(102, 110, 53);
  }
}
