.content-container-left {
  height: 100%;
  width:4%;
  vertical-align:top;
  display :inline-block;
}

.content-container {
  width :71%;
  height :auto;
  display :inline-block;
}

.content-container-right {
  height: 100%;
  width: 23%;
  position: fixed;
  top: 80px;
  right: 0px;
}

.list-item {
  padding: 12px;
}

.list-item-tag{
  display: inline-block;
  margin-right: 10px;
}

.list-item-tag-container{
  display: inline-block;
  margin-right: 50px;
}

.list-item-time-container{
  display: inline-block;
}

.content-container-header{
  height: 10px;
}