#root {
  background-color:#f0eef5;
}

.nav {
  float :left;
  width :80%;
  height :100%;
}

.nav ul {
  text-align: left;
  height:100%;
  width :100%;
  margin :0 0 0 0;
  padding :0 0 0 0;
  line-height :70px;
  list-style :none;
  font-family: Arial, Helvetica, sans-serif ;
  font-size : 17px;
}

.nav li {
  width : 80px;
  text-align : center;
  margin-left: 50px;
  display :inline-block;
}
.nav a {
  color: white;
}

.item-hide {
  opacity: 0;
  width: 0px;
  height: 0px;
  cursor: default;
  pointer-events:none;
}

a {
  text-decoration: none;
}

