.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.nav-container {
  position :fixed;
  background-color :#c54b04;
  height: 80px;
  width : 100%;
  top :0;
  z-index:2;
  text-align :center;
  }
  
.nav {
  float :left;
  width :50%;
  height :100%;
}

.nav ul {
  text-align: left;
  height:100%;
  width :100%;
  margin :0 0 0 0;
  padding :0 0 0 0;
  line-height :80px;
  list-style :none;
  font-family: Arial, Helvetica, sans-serif ;
  font-size : 20px;
}

.nav li {
  width : 50px;
  text-align : center;
  margin-left: 100px;
  display :inline-block;
}
.nav a {
  color: white;
}

.content-container-top {
  height: 80px;
  width: 100%;
}



a {
  text-decoration: none;
}

